<p>Add link:</p>

<form action="/links" method="post">
  Please enter a URL address
  <input type="text" name="url">
  Please enter a bookmark name
  <input type="text" name="title">
  Please enter a new tag
  <input type="text" name="tag" multiple>
  <input type="submit" value="Create link">
</form>
